<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Products - Brand</title>
    <link rel="icon" type="image/png" sizes="1084x1036" href="../static/front/assets/img/Bersii%20Logo%20Aja%20Bigger.png">
    <link rel="icon" type="image/png" sizes="1084x1036" href="../static/front/assets/img/Bersii%20Logo%20Aja%20Bigger.png">
    <link rel="icon" type="image/png" sizes="1084x1036" href="../static/front/assets/img/Bersii%20Logo%20Aja%20Bigger.png">
    <link rel="icon" type="image/png" sizes="1084x1036" href="../static/front/assets/img/Bersii%20Logo%20Aja%20Bigger.png">
    <link rel="icon" type="image/png" sizes="420x136" href="../static/front/assets/img/Bersii%20Logo%20Horizontal.png">
    <link rel="stylesheet" href="../static/front/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="../static/front/assets/css/Inter.css">
    <link rel="stylesheet" href="../static/front/assets/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="../static/front/assets/css/Hero-Clean-images.css">
    <link rel="stylesheet" href="../static/front/assets/css/Image-Tab-Gallery-Horizontal.css">
    <link rel="stylesheet" href="../static/front/assets/css/Ludens-Client---Login-Dropdown.css">
    <link rel="stylesheet" href="../static/front/assets/css/Navbar-Dropdown-List-Item.css">
    <link rel="stylesheet" href="../static/front/assets\css\card.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
      #myProgress {
        width: 50%;
        background-color: grey;
      }

      #myBar {
        width: 1%;
        height: 30px;
        background-color: #4caf50;
        text-align: center;
        line-height: 30px;
        color: white;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="../static/front/assets/img/horizontal.png" style="max-height: 35px">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a class="nav-link active" href="#">Hai {{ session['nama_depan'] }}, Silahkan Pilih Produk Yang Mau Kamu Isi Ulang</a></li>
          </ul><a class="btn btn-primary shadow" role="button" href="">Keluar</a>
        </div>
    </div>
    </nav>
    <section class="py-5">                             
      <div class="card-container">
          <div class="card" id="sizechoose">
            <div class="card-left">
              <img src="{{ gambar_produk }}" alt="{{ nama_produk }}">
            </div>
            <div class="card-right">
              <h3>{{ nama_produk }}</h3>
              <div class="type">Sisa Tangki : {{ stok_produk }}</div>
              <p>{{ deskripsi_produk }}</p>
              <div class="price" id="harga">Rp{{ harga_produk }}</div>
              <div id="bklhidden">
                <div class="size-options">
                  <button class="size-option-button" id="100" value="100">100ml</button>
                  <button class="size-option-button" id="200" value="200">200ml</button>
                  <button class="size-option-button" id="300" value="300">300ml</button>
                  <button class="size-option-button" id="400" value="400">400ml</button>
                </div>
                <br>
                <button class="prodslc" onclick="submit($(this))" id="kode" value="{{ id_produk }}">Isi Ulang</button>
                <input type="hidden" id="hargass" value="{{ harga_produk }}">
              </div>
              <div id="bkltampil" style="display: none;">
                <p id="statusrefill">Sedang Mengisi...</p>
                <div id="myProgress">
                  <div id="myBar">0 ml</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <footer class="bg-primary-gradient">
      <div class="container py-4 py-lg-5">
          <hr>
          <div class="text-muted d-flex justify-content-between align-items-center pt-3">
              <p class="mb-0">Hak Cipta © 2023 Bersii</p>
          </div>
      </div>
    </footer>

    <script>
      const sizeButtons = document.querySelectorAll('.size-options button');

      sizeButtons.forEach(button => {
        button.addEventListener('click', function() {
          sizeButtons.forEach(btn => btn.classList.remove('active'));
          this.classList.add('active');
        });
      });

    </script>
    <script>
      function submit($this) {
          const sleep = (time) => {
            return new Promise((resolve) => setTimeout(resolve, time))
          }
          var size = $(".size-option-button.active").attr("value");
          var kode = $("#kode").attr("value");
          var harga = document.getElementById("hargass").value;
          var x = document.getElementById("bklhidden");
          var y = document.getElementById("bkltampil");
          var bar = document.getElementById("myBar");
          var refillstatus = document.getElementById("statusrefill");
          const cnd = async (stts) => {
            $.ajax({
              method: "POST",
              url: "{{ url_for('refillings') }}",
              data: {"condition" : stts},
              success: function (response) {
                  console.log(response);
              }
            });
          }
          const snd = async () => {
            $.ajax({
              method: "POST",
              url: "{{ url_for('checkout') }}",
              data: {"id_produk" : kode, "jumlah_refill" : size, "harga_produk" : harga},
              success: function (response) {
                  console.log(response);
              }
            });
          }
          const incr = async () => {
            cnd("Start");
            for (let i = 0; i <= size; i++) {
              await sleep(100)
              bar.style.width = i + "%";
              bar.innerHTML = i + " ml";
              if(i == size){
                break;
              }
            }
            cnd("Stop");
            refillstatus.innerHTML = "Terima kasih telah mengisi";
            snd();
          }
          x.style.display = "none";
          y.style.display = "block";
          incr();
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js" data-reflow-store="668297741"></script>
    <script src="../static/front/assets/js/bs-init.js"></script>
    <script src="../static/front/assets/js/bold-and-bright.js"></script>
    <script src="../static/front/assets/js/dropdown-search-bs4.js"></script>
    <script src="../static/front/assets/js/Image-Tab-Gallery-Horizontal.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>

