<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Realtime Monitoring
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="dropdown dropdown-inline">
                    <button type="button" onclick="refreshTangki()" class="btn btn-default btn-sm btn-bold btn-upper">Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

        <!-- Diagram Real Time -->
        <canvas id="kt_chartjs_1" style="height: 300px;"></canvas>

    </div>
</div>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + '').replace(',', '').replace(' ', '');
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
          var k = Math.pow(10, prec);
          return '' + Math.round(n * k) / k;
        };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return s.join(dec);
    }

    // Bar Chart Example
    var ctx = document.getElementById("kt_chartjs_1");
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["{{ nama_produk }}"],
        datasets: [{
          label: "TANGKI 1",
          backgroundColor: "#01AA4F",
          hoverBackgroundColor: "#008440",
          borderColor: "#01AA4F",
          data: [0.0],
        }],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'month'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 6
            },
            maxBarThickness: 25,
          }],
          yAxes: [{
            ticks: {
              min: 0,
              max: 10,
              maxTicksLimit: 5,
              padding: 10,
              // Include a dollar sign in the ticks
              callback: function(value, index, values) {
                return number_format(value) + ' liter';
              }
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: true
        },
        tooltips: {
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
          callbacks: {
            label: function(tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
              return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
            }
          }
        },
      }
    });
</script>
<script>
    function fetchData() {
        $.ajax({
            url: "/realtime_stok",
            method: 'POST',
            success: function(response) {
              var datas = JSON.parse(response);
              // console.log(datas);
              var stok_produk = datas.stok_produk;
              var nama_produk = datas.nama_produk;
              // Get the existing chart data
              var existingData = myBarChart.data.datasets[0].data;
              var existingLabels = myBarChart.data.datasets[0].label;
              console.log(myBarChart.data);
              // Update only the necessary value(s)
              existingData[0] = parseFloat(stok_produk); // Update the first data point
              existingLabels = nama_produk;
              // Redraw the chart
              myBarChart.update();
            }
        });
    }

    $(document).ready(function() {
        // interval = setInterval(fetchData, 10000);
        fetchData();
        Pusher.logToConsole = false;
				var pusher = new Pusher('47654494660254b1d35f', {
					cluster: 'ap1'
				});
        var serial = localStorage.getItem('nomor_seri');
        var channel = pusher.subscribe('stok-'+serial);
        channel.bind('station-stok', function(data) {
            var datas = data.body;
            var stok_produk = datas.stok;
            var nama_produk = datas.nama_produk;
            // Get the existing chart data
            var existingData = myBarChart.data.datasets[0].data;
            var existingLabels = myBarChart.data.datasets[0].label;
            console.log(myBarChart.data);
            // Update only the necessary value(s)
            existingData[0] = parseFloat(stok_produk); // Update the first data point
            existingLabels = nama_produk;
            // Redraw the chart
            myBarChart.update();
				});
    });

    function refreshTangki(){
      KTApp.blockPage({
					overlayColor: '#000000',
					type: 'v2',
					state: 'primary',
					message: 'Sedang memproses data, mohon menunggu...'
				});
        fetchData();
        KTApp.unblockPage();
    }
</script>

